AIRTABLE_KEY=EXAMPLE_VALUE-1
AIRTABLE_BASE=EXAMPLE_VALUE-2
AIRTABLE_TABLE=EXAMPLE_VALUE-3
AWS_KEY=EXAMPLE_VALUE-4
AWS_SECRET=EXAMPLE_VALUE-5
AWS_REGION=EXAMPLE_VALUE-6
AWS_DYN_TABLE_SESSION=EXAMPLE_VALUE-7
AWS_DYN_TABLE_SUPER=EXAMPLE_VALUE-8
KEY_ID=EXAMPLE_VALUE-9
KEY_KTY=EXAMPLE_VALUE-10
KEY_CRV=EXAMPLE_VALUE-11
KEY_ALG=EXAMPLE_VALUE-12
KEY_X=EXAMPLE_VALUE-13
KEY_Y=EXAMPLE_VALUE-14
KEY_D_PRIVATE=EXAMPLE_VALUE-15
KEY_OPS_PRIVAATE=EXAMPLE_VALUE-16
KEY_OPS_PUBLIC=EXAMPLE_VALUE-17
KEY_EXT=EXAMPLE_VALUE-18
