# rename as .env
AES_GCM_K=EXAMPLE_VALUE__1
AIRTABLE_BASE=EXAMPLE_VALUE__2
AIRTABLE_TABLE=EXAMPLE_VALUE__3
AIRTABLE_TOKEN=EXAMPLE_VALUE__4
AWS_DYN_TABLE_MEGA=EXAMPLE_VALUE__5
AWS_DYN_TABLE_SESSION=EXAMPLE_VALUE__6
AWS_KEY=EXAMPLE_VALUE__7
AWS_POLLY_BUCKET=EXAMPLE_VALUE__8
AWS_POLLY_PREFIX=EXAMPLE_VALUE__9
AWS_REGION=EXAMPLE_VALUE__10
AWS_SECRET=EXAMPLE_VALUE__11
CLOUDFLARE_ACCOUNT=EXAMPLE_VALUE__12
CLOUDFLARE_FEEDCITY_ACCESS_KEY=EXAMPLE_VALUE__13
CLOUDFLARE_FEEDCITY_ACCESS_SECRET=EXAMPLE_VALUE__14
CLOUDFLARE_FEEDCITY_TOKEN=EXAMPLE_VALUE__15
JWT_KEY_ALG=EXAMPLE_VALUE__16
JWT_KEY_CRV=EXAMPLE_VALUE__17
JWT_KEY_D_PRIVATE=EXAMPLE_VALUE__18
JWT_KEY_EXT=EXAMPLE_VALUE__19
JWT_KEY_ID=EXAMPLE_VALUE__20
JWT_KEY_KTY=EXAMPLE_VALUE__21
JWT_KEY_OPS_PRIVATE=EXAMPLE_VALUE__22
JWT_KEY_OPS_PUBLIC=EXAMPLE_VALUE__23
JWT_KEY_X=EXAMPLE_VALUE__24
JWT_KEY_Y=EXAMPLE_VALUE__25
OPENAI_ORGID=EXAMPLE_VALUE__26
OPENAI_PROD_KEY=EXAMPLE_VALUE__27
OPENAI_TEST_KEY=EXAMPLE_VALUE__28
RSA_KEY_E=EXAMPLE_VALUE__29
RSA_KEY_N=EXAMPLE_VALUE__30
RSA_KEY_PRIVATE_D=EXAMPLE_VALUE__31
RSA_KEY_PRIVATE_DP=EXAMPLE_VALUE__32
RSA_KEY_PRIVATE_DQ=EXAMPLE_VALUE__33
RSA_KEY_PRIVATE_P=EXAMPLE_VALUE__34
RSA_KEY_PRIVATE_Q=EXAMPLE_VALUE__35
RSA_KEY_PRIVATE_QI=EXAMPLE_VALUE__36
STRIPE_PUBLISHED_TOKEN=EXAMPLE_VALUE__37
STRIPE_SECRET_TOKEN=EXAMPLE_VALUE__38
STRIPE_TEST_PUBLISHED_TOKEN=EXAMPLE_VALUE__39
STRIPE_TEST_SECRET_TOKEN=EXAMPLE_VALUE__40