# AIRTABLE CREDENTIALS
AIRTABLE_KEY=EXAMPLE_VALUE-1
AIRTABLE_BASE=EXAMPLE_VALUE-2
AIRTABLE_TABLE=EXAMPLE_VALUE-3

# AWS CREDENTIALS
AWS_KEY=EXAMPLE_VALUE-4
AWS_SECRET=EXAMPLE_VALUE-5
AWS_REGION=EXAMPLE_VALUE-6
POLLYBUCKET=EXAMPLE_VALUE-7
POLLYPREFIX=EXAMPLE_VALUE-8
AWS_DYN_TABLE_SESSION=EXAMPLE_VALUE-9
AWS_DYN_TABLE_SUPER=EXAMPLE_VALUE-10


# ECDSA KEY
JWT_KEY_ID=EXAMPLE_VALUE-11
JWT_KEY_KTY=EXAMPLE_VALUE-12
JWT_KEY_CRV=EXAMPLE_VALUE-13
JWT_KEY_ALG=EXAMPLE_VALUE-14
JWT_KEY_X=EXAMPLE_VALUE-15
JWT_KEY_Y=EXAMPLE_VALUE-16
JWT_KEY_D_PRIVATE=EXAMPLE_VALUE-17
JWT_KEY_OPS_PRIVATE=EXAMPLE_VALUE-18
JWT_KEY_OPS_PUBLIC=EXAMPLE_VALUE-19
JWT_KEY_EXT=EXAMPLE_VALUE-20

# AES GCM KEY
AES_GCM_K=EXAMPLE_VALUE-21

# RSA KEY
RSA_KEY_E=EXAMPLE_VALUE-22
RSA_KEY_N=EXAMPLE_VALUE-23
RSA_KEY_PRIVATE_D=EXAMPLE_VALUE-24
RSA_KEY_PRIVATE_P=EXAMPLE_VALUE-25
RSA_KEY_PRIVATE_Q=EXAMPLE_VALUE-26
RSA_KEY_PRIVATE_DP=EXAMPLE_VALUE-27
RSA_KEY_PRIVATE_DQ=EXAMPLE_VALUE-28
RSA_KEY_PRIVATE_QI=EXAMPLE_VALUE-29