# Fill out the key values with your values
# and then save the file as `.env`
REGION='us-west-2'
AWS_KEY='AKEYTHATYOUSHOULDNEVERSHARE'
AWS_SECRET='QUtFWVRIQVRZT1VTSE9VTERORVZFUlNIQVJFCg'
POLLYBUCKET='BUCKETNAME'
POLLYPREFIX=`PREFIX_STRING`
# unused keys
# _account='1234567890123'
# _user_arn='arn:aws:iam::1234567890123:user/USER_NAME'


# AIRTABLE CREDENTIALS
AIRTABLE_KEY=EXAMPLE_VALUE-1
AIRTABLE_BASE=EXAMPLE_VALUE-2
AIRTABLE_TABLE=EXAMPLE_VALUE-3

# AWS CREDENTIALS
AWS_KEY=EXAMPLE_VALUE-4
AWS_SECRET=EXAMPLE_VALUE-5
AWS_REGION=EXAMPLE_VALUE-6
AWS_DYN_TABLE_SESSION=EXAMPLE_VALUE-7
AWS_DYN_TABLE_SUPER=EXAMPLE_VALUE-8

# ECDSA KEY
JWT_KEY_ID=1681440780685
JWT_KEY_KTY=EC
JWT_KEY_CRV=P-384
JWT_KEY_ALG=ES384
JWT_KEY_X=RKJBwr6bCK1wJoVqmv8e5VmWEcNz0AQQdjy0AbOoKQxsCFo8kbMkKL0I1mTeMeuD
JWT_KEY_Y=5gxhe3hGBw6WiwnIcF-x2dlOQY0HA47hnjtQX7obg18cOVQNir6DgfGMzK5eTDes
JWT_KEY_D_PRIVATE=nIhz2-_6hPFfBgAaq2SXXGuos_aSG0oRrIPjvwb1mg3v4wNwvaJ5YpEgMMfOb9yG
JWT_KEY_OPS_PRIVATE=sign
JWT_KEY_OPS_PUBLIC=verify
JWT_KEY_EXT=true

# AES GCM KEY
AES_GCM_K=C_qNXqsp1egwWX_4UDLm0hgfiVJcmWVLcmCDj1iMzwc

# RSA KEY
RSA_KEY_E=AQAB
RSA_KEY_N="2IVb8aGP1sgei3owRpbXbGj0ze1jDz0Vj-Ta48ESzUDzESNc28m9vT52h3ASSVlKIozht7JIuBU9y71dRs8vdzWJ7Rc_2ZF9zULzgeUMiKAlbi6W8bwCocyX6s38P-zD8-cz76ZjE5S6t0NxH33NeDFEpgif_gZ46LMuXwKpoztmIUjKMKgYKutI1qTM7CLifG82UiSihbnONmhawSmKnYmmqg6fEx3QW94J8JYEDK3b3ATeNimwRh4J8RNsLiVBt9P8HIO6YKNHBSUcK0rq0bA2DHnL-lMCKEBq6HizX3WA6iWMgiGYZv7JmzxKbYpIrrUNHdMQxypfG5fttCwZfuNuzgzmaZvKIwLp6rm4YzjKzbN6z0wB1naJIQuOnxRxgTg8zUF9Bt5kpyT1PPumGprZquPwGlq0guJF2SOPvJOCzZ0BxG_GOZB6umZwedBYxWBKHgUW78gaoLghyziEiXD7nwd7LOoxAPQ9aIlArANqZIb-aMBFu_waemQuJ-5NfsdZPOamuzL1qVRzRX9x-I2sEKHaE1M4u5YJ770rySDMvpDj7aSNf2H55SAeiB08k--6X3AVp9MWNp_abBbVwO_6brb2K1Vyp_VA_eC6kb7bLIKOS5zBkFld4xroxSzCaxIjtV2jtHC6t9JTsQaYlki9kOCDr07SUx20fXXjvws"
RSA_KEY_PRIVATE_D=xwzqttuZWZIGCqGdKffYOZDPpVTcIZE9dlilJoZD27AfBR1ma6Quq4B2BRLxrL7KWbL8ex0Knzjf46LF0qf78fKlRvJ9v21yorYvGLZSbHQVlRJ9r-Pw44AsFS-i-72Vc2-UnndvU_wCHyKAJ7xGnX1lp-H7-9NFal_3fF79RtP_kw_Q2SRfe21sO--reFalslGnNaL6SkfDnN8Yt8WR6jw2nNXuReu9tgcNSkEPnfxjSAStqEtxAzTwXNFHPbEAlpfqiOhM-jSAwOkZ2W75KyZ8ucFq1UlkjU6TOf5koJhsmFVGtAdgjSckfnLR1ZwwL3TAhy-XmBGK99oXK_DyybPIWQEV6jwl3SEyp5jgywvdK9vy0puh_9C4-l5AgM71U4iXSmavcCH0cVm2P9ziX0bn6QuGocKE2BGLNnPPjFZCbVeqeXmzuZ_AQlGzrpKM_3fNWZL2jiSfNq_ow3uEf7qiLd7gWAqiGnoo-zHq7ai95nVXdIGbmXOw0svJN5CjFdriYURG4l5ceU4ZJv4DgTqgKNEJfsED1jo9Lbe-Zgx5IIBIHh-EvZXjzfgvhMivEC7rJ6J0JVfDqh0vg12jb4RQ8RillX-g0XAZAZ_KctApJpio17ypbc0TGAM_5YyP_52xhOD2OXMwFxmyVqgamtey4I335Q1z7JTUQB_OqHk
RSA_KEY_PRIVATE_P=9kDSQIU5gbMUAEzbyxm_yIZgjP2ogs_-pK_pUJMNw5Ld8uwEONlj2exdDDDLAGEq1GOK-sbrrroMEwFkhP9PoaYNX0VHv0e0QejG5ep2MzRRjF2g0tqRwcvi3JiGRrpJXg3cp7nveBFfra-u31bUQAzWd44dNy8KOE5seS4LTQiG4FWLL_2q_NKcfy0lxAOMrjy9lwXIYCKS_wzX5y636CA73F_B_fIwdbYW4rqs-P83_pw7TiX6OjCyVOoqZybYSU0FaW-mmVpqTMjeotYaWObr2OX2cqUWjwuQkVwnTUi2vUXZpcIMEHK8D2ZfIWoVWURPNduNBHty4Spfd7xuzw
RSA_KEY_PRIVATE_Q=4RdF_j4NILsbvoppAmSdLDSR9Y7wma3vJNMSvdjaT_Sf2tpAAtKtuS3G79rpZDtuTCo6h3SqSLW7xigCHt9JeG0Kksb27vEARIWLMD4Eb-nLYl6Acx0ek8tsh9HhHuoztFZQJrteQtxmvE0GEf0eRM0mkvauDI_RLCXeTPuri_u1bSjfYjKOF6ASI0El4CQP8K4W11aRqxWMxwWxfndqMUNHdHNz_f0WK46K3xW_BUX8OVZNcX3oKGYse5vHeqs8qf1cAU7DFqG5_l_RmZyc2L3s7HAPoH4q5GK151sG7r59wzJK6ddW3XoF6LY5tk0LwjFiDsMYDqc98zBtw45bBQ
RSA_KEY_PRIVATE_DP=D0vxg46DBvp_yJD9qj0cO7GVN8zd9dpDwCkpPhcUaMyrutZMYNeoKzZShVpWkdx3U6AnVvKaW001SMzyWIyffrQY6o0cKtaibOGv0UJiO0YJtsVuIwruuPIYUomq9aPGwO_tgAG9zWCO5_Qc0cTMBHqHq_-I8w-Z--trM4_Xpd5cuny127JPN8tBa2j7ipSJ3ZzqTgJO8yHSrcM3eiXdyK6P6V2NaF_uALHh9A2ShxkbelZsHKuhQpIZ0cqF_chc8Ri2uFj2KVqDdeeYZNcV5eXaSqvmRjLZFuOqBE2MJ3HX4CQBpBlMtIzb_7zlNecoElZ68SaFOP0OIsyGB6MN4w
RSA_KEY_PRIVATE_DQ=WIaduYtQAHJ2S-8Fs7I8enlGemw4Rki5CCOXeGEEI3QTNrClgja3ql_NoOHY7tnM3FmzYTjKDASlkB6GDvxEWf-Qq_9ieMECGPDouBV8C0PJAKwoGp32O6xCx_wMbOsxYJidt03zmZozMZWdcI-7StXgeOZZt4kMfC98iYxlgI2DYiY0DNvTNIl4-LKTod6tAjyFsTVT3xR_pHqhvxpaAnvya2NI2DikcocCKRDVas6Gj0pY9OzO1Kyyi_7NanpURorll4IRiiIbE2c9-Qs2SKwRtT-xda6JUf9ciVwsktMKhS2Pdv6BJGPsVQTuF7ufh0WCykmCeaje3XlLgiDHvQ
RSA_KEY_PRIVATE_QI=ZUmah4HsFaunI1WzfV0IeJHutyph-b7q5Ea_5Cyb9nNAi4-W5-OZ95o1IcWnjBE7Ma9fpMXOpHLw0L-nyfXcKR1aqZBBGOKyvYXekh0FCwAycwDKrLV2bCK9HK-87IFnj1AeH56MZEdx7FkAIMtGb7jYGpa2hDCDipp74t877WPnmZqSiLl1RuqdLEfwsdw8gTLnN_nK5q2-UiUnIQIM4I71JsrWOltwyscmiqQzYgbJM4MfxE_qkF9RN0BgLgFqgNrJfyor3F-wYRJtUMhei51M9EbnNYMjepeXhULwZK2rNcloNeYxrF6GUXEhrOXUiBMXq5-rynlq50URnvnJ1A
