# Fill out the key values with your values
# and then save the file as `.env`
REGION='us-west-2'
AWS_KEY='AKEYTHATYOUSHOULDNEVERSHARE'
AWS_SECRET='QUtFWVRIQVRZT1VTSE9VTERORVZFUlNIQVJFCg'
POLLYBUCKET='BUCKETNAME'
POLLYPREFIX=`PREFIX_STRING`
# unused keys
# _account='1234567890123'
# _user_arn='arn:aws:iam::1234567890123:user/USER_NAME'
